body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.header {
  width: 100%;
}
.logo {
  display: block;  
  margin-bottom: 1rem;
}
.header img {
  width: 88px;
}
/*
.text {
  position: absolute;
  top: 300px;
  border: 1px solid green;
}
*/

/* invoice-header is populated via the UI */
.invoice-header {
  display: inline-block;
  width: 50%;
  color: #646464;
}

.customer-shipping {
  display: inline-block;
  width: 49%;
}
.customer-billing {
  margin-top: 1rem;
}
.customer .field {
  display: block;
}
.customer .field-label,
.customer .field__label {
  display: inline-block;
  width: 100px;
}
.customer .field-items,
.customer .field__items {
  display: inline-block;
  width: 69%;
}
.customer .field-name-field-customer-lastname,
.customer .field--name-field-customer-lastname {
  display: none;
}
.customer .field-name-field-phone .field-label {
  display: none;
}

.order-id {
  margin-top: 1rem;
}
.invoice-header-date {
}

/* Line items table */
.line-items {
  margin-top: 100px;
}
.view-commerce-line-item-table table {
  width: 100%;
  line-height: 1.2em;
  border-collapse: collapse;
}
.view-commerce-line-item-table thead {
  border-bottom: 2px solid black;
}
.view-commerce-line-item-table th {
  text-align: right;
}
.view-commerce-line-item-table td {
  text-align: right;
  height: 30px;
}
.view-commerce-line-item-table .views-field-commerce-total {
  text-align: right;
  padding-right: 5px;
  width: 200px;
}
.view-commerce-line-item-table .views-field-line-item-title {
  text-align: left;
  width: 300px;
}

.order-total table {
  width: 100%;
  border-top: 2px solid black;
  font-weight: bold;
}
td.component-title {
  text-align: right;
}
td.component-total {
  text-align: right;
  width: 200px;
}

.contextual-links-wrapper {
  display: none;
}

.invoice-canceled .order-total table {
  border: 2px solid black;
  margin-top: 100px;
}

.citation {
  margin-top: 1rem;
}

/* invoice-text is populated via the UI */
.invoice-text {
  margin-top: 50px;
}

/* invoice-footer is populated via the UI */
.invoice-footer {
  /* border-top: 1px solid #646464; */
  width: 100%;
  font-size: 10px;
  color: #646464;
  position: absolute;
  bottom: 0;
  text-align: justify;
}
.invoice-footer .row {
  display: block;
  clear: both;
  margin-top: 1rem;
}
.invoice-footer .box {
  border: 1px solid #646464;
  background-color: #eaeaea;
}
.invoice-footer .inline-item {
  display: inline-block;
  width: 22%;
  margin: 0;
  padding: 0.25rem 1%;
}
.invoice-footer .notice {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
.invoice-footer .left {
  display: inline-block;
  width: 50%;
}
.invoice-footer .right {
  display: inline-block;
  width: 50%;
  text-align: right;
}